$banner-features-margins: (
  null: (40px, 0, 70px, 0),
  small: (50px, 0, 80px, 0),
  medium: (60px, 0, 90px, 0),
);

.banner-features {
  @include element-indent($banner-features-margins, 'margin');

  & > .row {
    justify-content: center;
  }

  &__item {
    position: relative;
    margin-bottom: 30px;
    width: 100%;
    height: 0;
    padding-bottom: 100%;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}
