@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "variables";
@import "mixins";

$body-color: #000;

body {
  color: $body-color;
  font-family: sans-serif;
}

.title {
  @include font-size($title_sizes);

  font-weight: 700;
  margin-bottom: 16px;
}

.title_lower {
  @include font-size($title_lower_sizes);

  font-weight: 700;
}

.subtitle {
  @include font-size($subtitle_sizes);
}

@import 'sizes-box.scss';
@import 'banners-show';
@import 'banner-features.scss';
@import 'purchase.scss';
@import 'footer.scss'
