.container
  .row
    .col-12.offset-0.col-md-10.offset-md-1
      h2.title.text-center.wow.animate__fadeIn(data-wow-duration='0.9s' data-wow-delay='0s') Banners Features
      p.subtitle.text-center.wow.animate__fadeIn(data-wow-duration='0.9s' data-wow-delay='0.2s') Carefull designed different sizes of banners
  .banner-features
    .row
      .col-12.col-sm-6.col-md-4.col-lg-3
        .banner-features__item.wow.animate__fadeIn(data-wow-duration='0.9s' data-wow-delay='0.3s')
          img.lazy(data-src="/public/features/Group1.svg", alt="Easy to use")
      .col-12.col-sm-6.col-md-4.col-lg-3
        .banner-features__item.wow.animate__fadeIn(data-wow-duration='0.9s' data-wow-delay='0.4s')
          img.lazy(data-src="/public/features/Group2.svg", alt="Modern Design")
      .col-12.col-sm-6.col-md-4.col-lg-3
        .banner-features__item.wow.animate__fadeIn(data-wow-duration='0.9s' data-wow-delay='0.5s')
          img.lazy(data-src="/public/features/Group3.svg", alt="Google Font")
      .col-12.col-sm-6.col-md-4.col-lg-3
        .banner-features__item.wow.animate__fadeIn(data-wow-duration='0.9s' data-wow-delay='0.6s')
          img.lazy(data-src="/public/features/Group4.svg", alt="Color Palette")
      .col-12.col-sm-6.col-md-4.col-lg-3
        .banner-features__item.wow.animate__fadeIn(data-wow-duration='0.9s' data-wow-delay='0.3s')
          img.lazy(data-src="/public/features/Group5.svg", alt="Organized Layers")
      .col-12.col-sm-6.col-md-4.col-lg-3
        .banner-features__item.wow.animate__fadeIn(data-wow-duration='0.9s' data-wow-delay='0.4s')
          img.lazy(data-src="/public/features/Group6.svg", alt="Styles & Symbols")
      .col-12.col-sm-6.col-md-4.col-lg-3
        .banner-features__item.wow.animate__fadeIn(data-wow-duration='0.9s' data-wow-delay='0.5s')
          img.lazy(data-src="/public/features/Group7.svg", alt="Responsive Layout")
      .col-12.col-sm-6.col-md-4.col-lg-3
        .banner-features__item.wow.animate__fadeIn(data-wow-duration='0.9s' data-wow-delay='0.6s')
          img.lazy(data-src="/public/features/Group8.svg", alt="Mobile Friendly")
