.container
  .banners-show
    //- Tree columns size ->
    .row.banners-show__row#s1200_630
      each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
        .col-12.col-sm-6.col-lg-4
          .banners-show__item
            -var path_name = '/banners/s1200_630/'
            -var image_name = 'Group'+val
            include picture_generated_single
    .row.banners-show__row#s1012_506(style='display: none;')
      each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
        .col-12.col-sm-6.col-lg-4
          .banners-show__item
            -var path_name = '/banners/s1012_506/'
            -var image_name = 'Group1'
            include picture_generated_single   
    .row.banners-show__row#s1080_1080(style='display: none;')
      each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
        .col-12.col-sm-6.col-lg-4
          .banners-show__item
            -var path_name = '/banners/s1080_1080/'
            -var image_name = 'Group1'
            include picture_generated_single       
    //- Tree columns size <-
    //- Two columns size ->                
    .row.banners-show__row#s1000_120(style='display: none;')
      each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
        .col-12.col-lg-6
          .banners-show__item_big
            -var path_name = '/banners/s1000_120/'
            -var image_name = 'Group1'
            include picture_generated_single 
    .row.banners-show__row#s970_250(style='display: none;')
      each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
        .col-12.col-lg-6
          .banners-show__item_big
            -var path_name = '/banners/s970_250/'
            -var image_name = 'Group1'
            include picture_generated_single  
    .row.banners-show__row#s640_200(style='display: none;')
      each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
        .col-12.col-lg-6
          .banners-show__item_big
            -var path_name = '/banners/s640_200/'
            -var image_name = 'Group1'
            include picture_generated_single      
    //- Two columns size <-  
    //- Four columns size ->
    .row.banners-show__row#s240_400(style='display: none;')
      each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
        .col-12.col-sm-6.col-md-4.col-lg-3
          .banners-show__item_small
            -var path_name = '/banners/s240_400/'
            -var image_name = 'Group1'
            include picture_generated_single 
    //- Four columns size <-
    //- Six columns size ->
    .row.banners-show__row#s300_1050(style='display: none;')
      each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
        .col-6.col-sm-4.col-md-3.col-lg-2
          .banners-show__item_small
            -var path_name = '/banners/s300_1050/'
            -var image_name = 'Group1'
            include picture_generated_single 
    .row.banners-show__row#s200_600(style='display: none;')
      each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
        .col-6.col-sm-4.col-md-3.col-lg-2
          .banners-show__item_small
            -var path_name = '/banners/s200_600/'
            -var image_name = 'Group1'
            include picture_generated_single 
    .row.banners-show__row#s120_600(style='display: none;')
      each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
        .col-6.col-sm-4.col-md-3.col-lg-2
          .banners-show__item_small
            -var path_name = '/banners/s120_600/'
            -var image_name = 'Group1'
            include picture_generated_single         
    //- Six columns size <-              
                       

