link(rel='preload' href='/public/fonts/DMSans-Regular.ttf' as='font' type='font/ttf' crossorigin='anonymous')
link(rel='preload' href='/public/fonts/DMSans-Medium.ttf' as='font' type='font/ttf' crossorigin='anonymous')
link(rel='preload' href='/public/fonts/DMSans-Bold.ttf' as='font' type='font/ttf' crossorigin='anonymous')
link(rel='preload' href='/public/fonts/Manrope-Bold.ttf' as='font' type='font/ttf' crossorigin='anonymous')
link(rel='preload' href='/public/fonts/Manrope-ExtraBold.ttf' as='font' type='font/ttf' crossorigin='anonymous')
link(rel='preload' href='/public/fonts/Manrope-ExtraLight.ttf' as='font' type='font/ttf' crossorigin='anonymous')
link(rel='preload' href='/public/fonts/Manrope-Light.ttf' as='font' type='font/ttf' crossorigin='anonymous')
link(rel='preload' href='/public/fonts/Manrope-Medium.ttf' as='font' type='font/ttf' crossorigin='anonymous')
link(rel='preload' href='/public/fonts/Manrope-Regular.ttf' as='font' type='font/ttf' crossorigin='anonymous')
link(rel='preload' href='/public/fonts/Manrope-SemiBold.ttf' as='font' type='font/ttf' crossorigin='anonymous')
