.hero
  .container
    .row
      .col-12.col-md-7
        h1.title_hero Make better Design With Add Banners
        p.subtitle_hero Boost your design to create a better user experience for web and mobile projects
      .col-12.col-md-5  
        include hero-card
