.hero-card
  .hero-card__header
    p.hero-card__title Compatible with
    .hero-card__logo
      include figmaSvg
      span Figma
  .hero-card__body
    p Purchase these creative add banners for your projects

  a.button_inverted Get Banners for $28
