nav.navbar.navbar-expand-lg.bg-white.navbar-light.justify-content-between
  a.navbar-brand(href='https://craftwork.design/')
    img(src='/public/logo_footer.svg' alt='craftwork')
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNavAltMarkup.collapse.navbar-collapse
    .navbar-nav
      a.nav-item.nav-link(href='#') UX/UI Systems
      a.nav-item.nav-link(href='#') Pricing

