nav.navbar.navbar-expand-lg.bg-white.navbar-light
  a.navbar-brand(href='https://craftwork.design/')
    img(src='/public/logo_footer.svg' alt='craftwork')
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNavAltMarkup.collapse.navbar-collapse
    .navbar-nav
      a.nav-item.nav-link(href='https://craftwork.design/downloads/category/ui-kits/') UX/UI Systems
      a.nav-item.nav-link(href='https://craftwork.design/downloads/category/illustrations/') Illustrations
      a.nav-item.nav-link(href='#') Templates
      a.nav-item.nav-link(href='https://craftwork.design/downloads/category/freebies/') Freebies
      a.nav-item.nav-link.colored-bg(href='https://craftwork.design/pro-access/')
        include lightningSvg
        span Unlimited access

