.purchase
  .container
    .row
      .col-12.offset-0.col-md-10.offset-md-1
        h2.title_lower.text-center Ok, i showed you the whole product. Now the choice is yours
      .col-12.offset-0.col-md-6.offset-md-3  
        p.subtitle.text-center We will help you to ideate, design and implement your product from conception to iterative app support
