.purchase-card
  .purchase-card__head
    p Banners Pack
    p $28
  .purchase-card__body
    ul.purchase-card__list
      li
        include checkMarkSvg 
        span Figma File
      li
        include checkMarkSvg 
        span 30+ Templates
      li
        include checkMarkSvg 
        span 4 Google Fonts
      li
        include checkMarkSvg 
        span 2 Illustrations Pack 
    .purchase-card__label
      div
        include figmaSvg
        span for Figma  
  a.button(href="#") Purchase Now
  
