.container
  .sizes-box
    .sizes-box__button.active.wow.animate__fadeIn(data-wow-duration='0.9s' data-wow-delay='0.4s' data-target='s1200_630') 1200x630
    .sizes-box__button.wow.animate__fadeIn(data-wow-duration='0.9s' data-wow-delay='0.425s' data-target='s1012_506') 1012x506
    .sizes-box__button.wow.animate__fadeIn(data-wow-duration='0.9s' data-wow-delay='0.45s' data-target='s1080_1080') 1080x1080
    .sizes-box__button.wow.animate__fadeIn(data-wow-duration='0.9s' data-wow-delay='0.475s' data-target='s1000_120') 1000x120
    .sizes-box__button.wow.animate__fadeIn(data-wow-duration='0.9s' data-wow-delay='0.5s' data-target='s970_250') 970x250
    .sizes-box__button.wow.animate__fadeIn(data-wow-duration='0.9s' data-wow-delay='0.525s' data-target='s640_200') 640x200
    .sizes-box__button.wow.animate__fadeIn(data-wow-duration='0.9s' data-wow-delay='0.55s' data-target='s300_1050') 300x1050
    .sizes-box__button.wow.animate__fadeIn(data-wow-duration='0.9s' data-wow-delay='0.575s' data-target='s240_400') 240x400
    .sizes-box__button.wow.animate__fadeIn(data-wow-duration='0.9s' data-wow-delay='0.6s' data-target='s200_600') 200x600
    .sizes-box__button.wow.animate__fadeIn(data-wow-duration='0.9s' data-wow-delay='0.625s' data-target='s120_600') 120x600
